<md-card>
  <md-card-title>Coop Status</md-card-title>
  <md-card-content>

    <div class="kv" fxLayout="row" fxLayoutAlign="start stretch">
      <label fxFlex="40" fxFlex.gt-xs="20"><md-icon color="accent">lock</md-icon> Door status:</label>
      <p fxFlex>{{ doorStatus() }}</p>
    </div>

    <div class="kv" fxLayout="row" fxLayoutAlign="start stretch">
      <label fxFlex="40" fxFlex.gt-xs="20"><md-icon color="accent">watch_later</md-icon> Coop time:</label>
      <p fxFlex *ngIf="status">{{ time() | date:'medium' }}</p>
    </div>

    <div class="kv" fxLayout="row" fxLayoutAlign="start stretch">
      <label fxFlex="40" fxFlex.gt-xs="20"><md-icon color="accent">wifi</md-icon> WiFi signal:</label>
      <p fxFlex *ngIf="status">{{ status.rssi }}db</p>
    </div>

    <div class="kv" fxLayout="row" fxLayoutAlign="start stretch">
      <label fxFlex="40" fxFlex.gt-xs="20"><md-icon color="accent">av_timer</md-icon> Timers:</label>
      <ul fxFlex *ngIf="status">
        <li>Open: {{ timer('open') }}</li>
        <li>Close: {{ timer('close') }}</li>
      </ul>
    </div>
  </md-card-content>
</md-card>


